.clear{
    position:fixed;
    insert:0;
    background: radial-gradient(circle at top right, #fff176, transparent 40%);
    animation: sunPulse 4s ease-in-out infinite;
    pointer-events:none;
    z-index:1;
}
@keyframes sunPulse{
    0%{opacity:0.5;}
    50% {opacity:1};
    100% {opacity:0.6;}
}